In [1]:
import pandas as pd

In [2]:
# 해당 연, 월
year = 2022
month = 9

# 서울시 공문번호 입력
doc_num = "서울시 친환경차량과-2059(2022.10.11.)"

In [4]:
# 엑셀 파일 이름
excel_file = f"전기자동차 등록원부 표기 대상({month}월분).xlsx"

In [5]:
# 첫번째 시트 : 전기차
car1 = pd.read_excel(excel_file, dtype="string", header=4, sheet_name=0)
car1

,차종구분,신청\n번호,지급일자,차종,신청\n대수,신청자명,주소\n(등록주소지),신청\n총금액(만원),국비(만원),도비(만원),시비(만원),추가\n보조금(만원),차량번호,차대번호,차량출고일,차량등록일
0,전기승용,14325,2022-09-28,니로 플러스 / 일반승용,1,한옥수,서울특별시 관악구 신림로36길 24-5 .,1200,900,0,200,100,서울31사5618,KNAA381GFPT005070,2022-09-14,2022-09-15
1,전기승용,14108,2022-09-28,EV6 롱레인지 4WD 19인치 / 일반승용,1,변호빈,서울특별시 동작구 여의대방로44길 47 205동 908호,1200,900,0,200,100,서울31자8444,KNAC281CPNA086992,2022-09-07,2022-09-14
2,전기승용,14078,2022-09-28,볼트 EUV / 일반승용,1,박진우,"서울특별시 영등포구 선유로9나길 5 102동1005호(문래동5가,문래동모아미래도아파트)",861,670,0,191,0,40구4863,1G1F66S09N4130229,2022-09-07,2022-09-13
3,전기승용,14077,2022-09-28,EV6 롱레인지 2WD 19인치 / 일반승용,1,권병준,서울특별시 금천구 시흥대로 291 306동 4305호,1200,900,0,200,100,서울31바4374,KNAC281AFNA087019,2022-09-14,2022-09-15
4,전기승용,14072,2022-09-28,니로 플러스 / 일반승용,1,표결종,경기도 김포시 감정로 87 110동 1304호,1200,900,0,200,100,서울31자2088,KNAA381GFPT005139,2022-09-08,2022-09-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,전기화물,3173,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),2,주식회사 도곡센타,"서울특별시 서초구 마방로6길 46 1층 101호 (양재동,혜전빌딩)",4000,2800,0,1200,0,90루8116 90루8485,KMFZCZ7NFNU035862 KMFZCZ7NFNU036245,2022-07-29 2022-07-29,2022-08-03 2022-08-03
1667,전기화물,3094,2022-09-22,포터Ⅱ 일렉트릭 / 화물(소형),1,이정임,서울특별시 강동구 고덕로61길 37 101동603호,2000,1400,0,600,0,89도3037,KMFZCZ7NFNU037855,2022-08-16,2022-08-22
1668,전기화물,3045,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,조상태,서울특별시 강남구 자곡로7길 22-16 106동 1402호,2000,1400,0,600,0,82라8762,KMFZCZ7NFNU038009,2022-08-16,2022-08-18
1669,전기화물,2984,2022-09-15,봉고Ⅲ 전기차 / 화물(소형),1,김원주,서울특별시 영등포구 여의대방로 45 2동 1003호,2000,1400,0,600,0,서울80배3165,KNFSTZ7NFNK026712,2022-08-02,2022-08-08
1670,전기화물,1509,2022-09-15,봉고Ⅲ 전기차 / 화물(소형),1,박동준,서울특별시 금천구 독산로 107 401호,2000,1400,0,600,0,84조3286,KNCSJZ7NFNK026449,2022-07-22,2022-07-28

In [6]:
# 두번째 시트 : 수소차(엑셀파일에서 두번째 시트가 없거나, 건설기계인 경우는 이번 셀 생략)

# car2 = pd.read_excel(excel_file, dtype="string", header=4, sheet_name=1)
# car2

In [7]:
# 두번째 시트가 없었다면 이어붙일 필요가 없다

# cars = pd.concat([car1, car2], ignore_index=True)
# cars
cars = car1

In [8]:
# 열 이름 가져오기
cars.keys()

Index(['차종구분', '신청\n번호', '지급일자', '차종', '신청\n대수', '신청자명', '주소\n(등록주소지)',
       '신청\n총금액(만원)', '국비(만원)', '도비(만원)', '시비(만원)', '추가\n보조금(만원)', '차량번호',
       '차대번호', '차량출고일', '차량등록일'],
      dtype='object')

In [9]:
# 열 이름을 알기쉽게 변경
cars.columns = ['차종구분', '신청번호', '지급일자', '차종', '신청대수', '신청자명', '주소',
                '총액', '국비', '도비', '시비', '추가', '차량번호',
                '차대번호', '차량출고일', '차량등록일']

# 불필요한 열은 삭제
cars = cars.drop(['차종구분', '신청번호', '차량출고일'], axis=1)
cars

,지급일자,차종,신청대수,신청자명,주소,총액,국비,도비,시비,추가,차량번호,차대번호,차량등록일
0,2022-09-28,니로 플러스 / 일반승용,1,한옥수,서울특별시 관악구 신림로36길 24-5 .,1200,900,0,200,100,서울31사5618,KNAA381GFPT005070,2022-09-15
1,2022-09-28,EV6 롱레인지 4WD 19인치 / 일반승용,1,변호빈,서울특별시 동작구 여의대방로44길 47 205동 908호,1200,900,0,200,100,서울31자8444,KNAC281CPNA086992,2022-09-14
2,2022-09-28,볼트 EUV / 일반승용,1,박진우,"서울특별시 영등포구 선유로9나길 5 102동1005호(문래동5가,문래동모아미래도아파트)",861,670,0,191,0,40구4863,1G1F66S09N4130229,2022-09-13
3,2022-09-28,EV6 롱레인지 2WD 19인치 / 일반승용,1,권병준,서울특별시 금천구 시흥대로 291 306동 4305호,1200,900,0,200,100,서울31바4374,KNAC281AFNA087019,2022-09-15
4,2022-09-28,니로 플러스 / 일반승용,1,표결종,경기도 김포시 감정로 87 110동 1304호,1200,900,0,200,100,서울31자2088,KNAA381GFPT005139,2022-09-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),2,주식회사 도곡센타,"서울특별시 서초구 마방로6길 46 1층 101호 (양재동,혜전빌딩)",4000,2800,0,1200,0,90루8116 90루8485,KMFZCZ7NFNU035862 KMFZCZ7NFNU036245,2022-08-03 2022-08-03
1667,2022-09-22,포터Ⅱ 일렉트릭 / 화물(소형),1,이정임,서울특별시 강동구 고덕로61길 37 101동603호,2000,1400,0,600,0,89도3037,KMFZCZ7NFNU037855,2022-08-22
1668,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,조상태,서울특별시 강남구 자곡로7길 22-16 106동 1402호,2000,1400,0,600,0,82라8762,KMFZCZ7NFNU038009,2022-08-18
1669,2022-09-15,봉고Ⅲ 전기차 / 화물(소형),1,김원주,서울특별시 영등포구 여의대방로 45 2동 1003호,2000,1400,0,600,0,서울80배3165,KNFSTZ7NFNK026712,2022-08-08
1670,2022-09-15,봉고Ⅲ 전기차 / 화물(소형),1,박동준,서울특별시 금천구 독산로 107 401호,2000,1400,0,600,0,84조3286,KNCSJZ7NFNK026449,2022-07-28

In [10]:
# '주소'가 '노원구'인 것들만 추출하되 '노원구'만으로 검색하면 안 됨 ==> 타구 주소인데 도로명에 '추노원구단1길' 같은 것이 없는지 확인
nowon_cars = cars[cars['주소'].str.contains('서울특별시 노원구|서울시 노원구')]
nowon_cars

,지급일자,차종,신청대수,신청자명,주소,총액,국비,도비,시비,추가,차량번호,차대번호,차량등록일
14,2022-09-28,니로 플러스 / 일반승용,1,박상군,서울특별시 노원구 동일로215길 48 325동1206호,1200,900,0,200,100,서울31사8655,KNAA381GFPT004800,2022-09-13
15,2022-09-21,EV6 롱레인지 2WD 19인치 / 일반승용,1,김양진,서울특별시 노원구 동일로207길 186 101동 1213호,900,700,0,200,0,46오6206,KNAC281AFNA085694,2022-09-07
41,2022-09-28,Model 3 RWD / 일반승용,1,김성일,서울특별시 노원구 화랑로 415-9 201호,405,315,0,90,0,06보2468,5YJ3E1EA0NF302581,2022-09-14
55,2022-09-28,GV60 스탠다드 2WD 19인치 / 일반승용,1,김휘동,서울특별시 노원구 동일로186길 49 302호,450,350,0,100,0,07구1281,KMTKB81AFNU008184,2022-08-30
71,2022-09-28,MINI Cooper SE / 일반승용,1,김수희,서울특별시 노원구 광운로22길 39 7층 701호,735,572,0,163,0,06어2145,WMW11DJ08P2S91110,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,박상정,서울특별시 노원구 한글비석로54길 92 1305동 1201호,2000,1400,0,600,0,92부3451,KMFZSZ7NFNU035501,2022-08-04
1640,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,권용재,서울특별시 노원구 섬밭로 139 112동 1305호,2140,1540,0,600,0,84마7318,KMFZCZ7NFNU036574,2022-08-08
1642,2022-09-15,일진무시동전기냉동탑차(포터) / 화물(소형),1,김경수,서울특별시 노원구 중계로 230 511동 204호,2812,2024,0,788,0,서울81배3394,KMFZCZ7NFNU033046,2022-08-09
1651,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,이현종,서울특별시 노원구 동일로237마길 30 102호,2000,1400,0,600,0,서울80배2026,KMFZSZ7NFNU036227,2022-08-04
1657,2022-09-22,포터Ⅱ 일렉트릭 / 화물(소형),1,박대성,서울특별시 노원구 중계로6길 59 .,2000,1400,0,600,0,89도2985,KMFZCZ7NFNU038140,2022-08-24

In [11]:
# 행 index를 0부터 세팅하고 + 이전 인덱스값은 모두 지움
nowon_cars = nowon_cars.reset_index(drop=True)
nowon_cars

,지급일자,차종,신청대수,신청자명,주소,총액,국비,도비,시비,추가,차량번호,차대번호,차량등록일
0,2022-09-28,니로 플러스 / 일반승용,1,박상군,서울특별시 노원구 동일로215길 48 325동1206호,1200,900,0,200,100,서울31사8655,KNAA381GFPT004800,2022-09-13
1,2022-09-21,EV6 롱레인지 2WD 19인치 / 일반승용,1,김양진,서울특별시 노원구 동일로207길 186 101동 1213호,900,700,0,200,0,46오6206,KNAC281AFNA085694,2022-09-07
2,2022-09-28,Model 3 RWD / 일반승용,1,김성일,서울특별시 노원구 화랑로 415-9 201호,405,315,0,90,0,06보2468,5YJ3E1EA0NF302581,2022-09-14
3,2022-09-28,GV60 스탠다드 2WD 19인치 / 일반승용,1,김휘동,서울특별시 노원구 동일로186길 49 302호,450,350,0,100,0,07구1281,KMTKB81AFNU008184,2022-08-30
4,2022-09-28,MINI Cooper SE / 일반승용,1,김수희,서울특별시 노원구 광운로22길 39 7층 701호,735,572,0,163,0,06어2145,WMW11DJ08P2S91110,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,박상정,서울특별시 노원구 한글비석로54길 92 1305동 1201호,2000,1400,0,600,0,92부3451,KMFZSZ7NFNU035501,2022-08-04
63,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,권용재,서울특별시 노원구 섬밭로 139 112동 1305호,2140,1540,0,600,0,84마7318,KMFZCZ7NFNU036574,2022-08-08
64,2022-09-15,일진무시동전기냉동탑차(포터) / 화물(소형),1,김경수,서울특별시 노원구 중계로 230 511동 204호,2812,2024,0,788,0,서울81배3394,KMFZCZ7NFNU033046,2022-08-09
65,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,이현종,서울특별시 노원구 동일로237마길 30 102호,2000,1400,0,600,0,서울80배2026,KMFZSZ7NFNU036227,2022-08-04
66,2022-09-22,포터Ⅱ 일렉트릭 / 화물(소형),1,박대성,서울특별시 노원구 중계로6길 59 .,2000,1400,0,600,0,89도2985,KMFZCZ7NFNU038140,2022-08-24

In [12]:
# 4개 열(총액, 국비, 도비, 시비, 추가) 천단위 콤마 있는지 확인 ==> 있다면 제거(find(',')!=-1 대신  replace(','. ''))해서 원래 df에 덧빵
comma_df = nowon_cars[['신청대수', '총액', '국비', '도비', '시비', '추가']].apply(lambda x: x.astype(str).str.find(',') != -1)
comma_df.value_counts()

신청대수   총액     국비     도비     시비     추가
False  False  False  False  False  False    67
dtype: int64

In [13]:
# 혹시 금액 열(총액, 국비, 시비, 추가)에 소수점이 있는지 확인 ==> True가 있으면 소수점 있음
# ==> 그런데 사실 소수점이 있건 없건 안 중요함
# realnumberTest = nowon_cars[['신청대수', '총액', '국비', '도비', '시비', '추가']].apply(lambda x: x.astype(str).str.find('.') != -1)
# realnumberTest.value_counts()
# 신청대수	총액	국비		도비	시비		추가	
# False	False	False	False	False	False	66	====> 모든 열에서 소수점이 없는 행이 66개
# 		True	False	False	True	False	1	====> 총액에 1개, 시비에 1개 소수점이 있는 행이 1개

In [14]:
# 소수점이 포함된 행을 직접 확인
# nowon_cars[nowon_cars['총액'].str.find('.') != -1]

In [15]:
# 도비가 0이 아닌 경우 걸러내기 (서울시는 도비가 없음) ==> 아무것도 나오지 않아야 정상
nowon_cars[nowon_cars['도비'] != '0']

Empty DataFrame
Columns: [지급일자, 차종, 신청대수, 신청자명, 주소, 총액, 국비, 도비, 시비, 추가, 차량번호, 차대번호, 차량등록일]
Index: []

In [16]:
# 도비는 모두 0이므로 열을 지운다
nowon_cars = nowon_cars.drop(['도비'], axis=1)
nowon_cars

,지급일자,차종,신청대수,신청자명,주소,총액,국비,시비,추가,차량번호,차대번호,차량등록일
0,2022-09-28,니로 플러스 / 일반승용,1,박상군,서울특별시 노원구 동일로215길 48 325동1206호,1200,900,200,100,서울31사8655,KNAA381GFPT004800,2022-09-13
1,2022-09-21,EV6 롱레인지 2WD 19인치 / 일반승용,1,김양진,서울특별시 노원구 동일로207길 186 101동 1213호,900,700,200,0,46오6206,KNAC281AFNA085694,2022-09-07
2,2022-09-28,Model 3 RWD / 일반승용,1,김성일,서울특별시 노원구 화랑로 415-9 201호,405,315,90,0,06보2468,5YJ3E1EA0NF302581,2022-09-14
3,2022-09-28,GV60 스탠다드 2WD 19인치 / 일반승용,1,김휘동,서울특별시 노원구 동일로186길 49 302호,450,350,100,0,07구1281,KMTKB81AFNU008184,2022-08-30
4,2022-09-28,MINI Cooper SE / 일반승용,1,김수희,서울특별시 노원구 광운로22길 39 7층 701호,735,572,163,0,06어2145,WMW11DJ08P2S91110,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,박상정,서울특별시 노원구 한글비석로54길 92 1305동 1201호,2000,1400,600,0,92부3451,KMFZSZ7NFNU035501,2022-08-04
63,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,권용재,서울특별시 노원구 섬밭로 139 112동 1305호,2140,1540,600,0,84마7318,KMFZCZ7NFNU036574,2022-08-08
64,2022-09-15,일진무시동전기냉동탑차(포터) / 화물(소형),1,김경수,서울특별시 노원구 중계로 230 511동 204호,2812,2024,788,0,서울81배3394,KMFZCZ7NFNU033046,2022-08-09
65,2022-09-15,포터Ⅱ 일렉트릭 / 화물(소형),1,이현종,서울특별시 노원구 동일로237마길 30 102호,2000,1400,600,0,서울80배2026,KMFZSZ7NFNU036227,2022-08-04
66,2022-09-22,포터Ⅱ 일렉트릭 / 화물(소형),1,박대성,서울특별시 노원구 중계로6길 59 .,2000,1400,600,0,89도2985,KMFZCZ7NFNU038140,2022-08-24

In [17]:
# [총액 = 국비 + 시비 + 추가] 금액이 맞는지 확인 ==> 나오는 게 없어야 정상
nowon_cars[pd.to_numeric(nowon_cars['총액']) != pd.to_numeric(nowon_cars['국비']) + pd.to_numeric(nowon_cars['시비']) + pd.to_numeric(nowon_cars['추가'])]

Empty DataFrame
Columns: [지급일자, 차종, 신청대수, 신청자명, 주소, 총액, 국비, 시비, 추가, 차량번호, 차대번호, 차량등록일]
Index: []

In [18]:
# '시비'열에 '추가'열을 더해 '시비'열에 저장
# 열은 하나의 type으로만 저장가능: int형과 float형이 섞여 있을 때 모두 float로 형변환 되는 것을 방지하기 위해 ==> 금액 확인 후 int형/float형 구분 후 str로 저장
for i in range(nowon_cars.shape[0]):
    sibi_extra_sum = float(nowon_cars.loc[i, '시비']) + float(nowon_cars.loc[i, '추가'])
    if sibi_extra_sum == int(sibi_extra_sum):
        nowon_cars.loc[i, '시비'] = str(int(sibi_extra_sum))
    else:
        nowon_cars.loc[i, '시비'] = str(sibi_extra_sum)

# '추가'열 삭제
nowon_cars = nowon_cars.drop(['추가'], axis=1)

# [총액 = 국비 + 시비 + 추가] 금액이 맞는지 확인 ==> 나오는 게 없어야 정상
nowon_cars[pd.to_numeric(nowon_cars['총액']) != pd.to_numeric(nowon_cars['국비']) + pd.to_numeric(nowon_cars['시비'])]

Empty DataFrame
Columns: [지급일자, 차종, 신청대수, 신청자명, 주소, 총액, 국비, 시비, 차량번호, 차대번호, 차량등록일]
Index: []

In [19]:
# 엑셀 행 1개에 신청대수가 2대 이상인 경우(멀티케이스) 확인
# ==> 아무것도 나오지 않아야 정상
nowon_cars[nowon_cars['신청대수'] != '1']

Empty DataFrame
Columns: [지급일자, 차종, 신청대수, 신청자명, 주소, 총액, 국비, 시비, 차량번호, 차대번호, 차량등록일]
Index: []

### 한줄에 여러대(멀티케이스) 존재하는 경우 ==> 처리 시작

In [23]:
# 한줄 여러대(멀티케이스)가 몇 건 있는지 저장
multicase_df = nowon_cars[nowon_cars['신청대수'] != '1'].copy()
multicase_count = multicase_df.shape[0]
multicase_count

0

In [ ]:
# 멀티케이스의 각 row = Series
multicase_df.iloc[0]

In [ ]:
for k in range(multicase_count):
    # loc(index이름) 찾기
    print(f"loc = {multicase_df.index[k]}")

    # iloc(index숫자) 찾기 : 위에서 720(loc)이 나왔다면 이것이 몇번째 인덱스(29)인지 확인한다.
    print(f"iloc = {nowon_cars.index.get_indexer(multicase_df.index)[k]}")

In [15]:
# 만약 나온 게 있다면 ==> 1개 행에 신청 대수가 2대 이상인 경우 처리 II
duplicated_df_list = []
for j in range(0, multicase_count):
    
    original_row = multicase_df.iloc[j].copy()    # 기준 행 = Series
    original_row_count = original_row['신청대수']
    original_row_iloc = nowon_cars.index.get_indexer(multicase_df.index)[j]

    nums = []
    vins = []
    regs = []

    nums = original_row['차량번호'].split()
    vins = original_row['차대번호'].split()
    regs = original_row['차량등록일'].split()

    original_row['신청대수'] = int(original_row['신청대수'] / original_row_count)
    original_row['총액'] = int(original_row['총액'] / original_row_count)
    original_row['국비'] = int(original_row['국비'] / original_row_count)
    original_row['시비'] = int(original_row['시비'] / original_row_count)

    original_row['차량번호'] = nums[0]
    original_row['차대번호'] = vins[0]
    original_row['차량등록일'] = regs[0]


    case_processed_df = original_row
    for i in range(1, original_row_count):
        temp_row = original_row.copy()
        temp_row['차량번호'] = nums[i]
        temp_row['차대번호'] = vins[i]
        temp_row['차량등록일'] = regs[i]
        case_processed_df = pd.concat([case_processed_df, temp_row], axis=1, ignore_index=True)

    # 원본 행 + 분리된 행 = 멀티케이스 1건당 새로운 1개의 DataFrame
    case_processed_df = case_processed_df.T
    duplicated_df_list.append(case_processed_df)
    print(case_processed_df)
    
    # 원본에서 기준행 1개 지우기
    nowon_cars.drop(multicase_df.index[j], inplace=True)


# nowon_cars에 삽입    
for m in range(0, multicase_count):
    nowon_cars = pd.concat([nowon_cars, duplicated_df_list[m]], axis=0, ignore_index=True)

nowon_cars

         지급일자                                    차종 신청대수        신청자명  \
0  2022-07-14  아이오닉5 2WD 롱레인지 19인치 빌트인 캠 미적용 / 일반승용    1  경성자동차교통(주)
1  2022-07-14  아이오닉5 2WD 롱레인지 19인치 빌트인 캠 미적용 / 일반승용    1  경성자동차교통(주)

                      주소    총액   국비 도비   시비   추가       차량번호  \
0  서울특별시 노원구 동일로 1047 .   1200  900  0  200  100  서울33바1299
1  서울특별시 노원구 동일로 1047 .   1200  900  0  200  100  서울33바1266

                차대번호       차량등록일
0  KMHKL81AFNU110018  2022-06-29
1  KMHKL81AFNU109942  2022-06-29

,지급일자,차종,신청대수,신청자명,주소,총액,국비,도비,시비,추가,차량번호,차대번호,차량등록일
0,2022-07-25,GV60 스탠다드 2WD 19인치 / 일반승용,1,윤형도,서울특별시 노원구 중계로 230 506동 304호,450,350,0,100,0,05도5584,KMTKB81AFNU007485,2022-07-14
1,2022-07-14,니로 플러스 / 일반승용,1,구본성,서울특별시 노원구 동일로 1776 2층,900,700,0,200,0,서울32자1527,KNAA381GFPT001397,2022-07-04
2,2022-07-25,The all-new Kia Niro EV / 일반승용,1,박지원,서울특별시 노원구 한글비석로 479 103동 1301호,900,700,0,200,0,58서4791,KNACR811FPA007727,2022-07-08
3,2022-07-25,GV60 스탠다드 2WD 19인치 / 일반승용,1,이진하,서울특별시 노원구 공릉로 351 2동1109호,450,350,0,100,0,37모9421,KMTKB81AFNU006916,2022-07-13
4,2022-07-14,니로 플러스 / 일반승용,1,함중근,서울특별시 노원구 덕릉로70가길 101 101동103호,900,700,0,200,0,서울31아6704,KNAA381GFPT000641,2022-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2022-07-11,봉고Ⅲ 전기차 / 화물(소형),1,박용현,서울특별시 노원구 중계로14다길 2 3층,2000,1400,0,600,0,88루0156,KNFSTZ7NFNK024165,2022-06-27
62,2022-07-29,넥쏘 수소연료전지차,1,김보영,서울특별시 노원구 동일로239길 68 101동 1104호,3250,2250,0,1000,0,43더8373,KMHJ8816FPU027999,2022-07-19
63,2022-07-19,넥쏘 수소연료전지차,1,이승현,서울특별시 노원구 마들로 111 25동 408호,3250,2250,0,1000,0,52머4761,KMHJ8816FPU027428,2022-06-21
64,2022-07-14,아이오닉5 2WD 롱레인지 19인치 빌트인 캠 미적용 / 일반승용,1,경성자동차교통(주),서울특별시 노원구 동일로 1047 .,1200,900,0,200,100,서울33바1299,KMHKL81AFNU110018,2022-06-29
65,2022-07-14,아이오닉5 2WD 롱레인지 19인치 빌트인 캠 미적용 / 일반승용,1,경성자동차교통(주),서울특별시 노원구 동일로 1047 .,1200,900,0,200,100,서울33바1266,KMHKL81AFNU109942,2022-06-29

In [12]:
# 신청 대수가 2대 이상인 경우 나오는지 검증 ==> 나오는 것이 없어야 정상 (없으면 멀티케이스 처리 끝)
nowon_cars[nowon_cars['신청대수'] != 1]

Empty DataFrame
Columns: [지급일자, 차종, 신청대수, 신청자명, 주소, 총액, 국비, 도비, 시비, 추가, 차량번호, 차대번호, 차량등록일]
Index: []

### 한줄에 여러대(멀티케이스) 존재하는 경우 ==> 처리 끝

In [25]:
# 이제 확인이 끝났으므로 불필요한 '차종', '신청대수', '주소' 열을 지운다.
df = nowon_cars.drop(['차종', '신청대수', '주소'], axis=1)
df

          지급일자 신청자명    총액    국비   시비       차량번호               차대번호       차량등록일
0   2022-09-28  박상군  1200   900  300  서울31사8655  KNAA381GFPT004800  2022-09-13
1   2022-09-21  김양진   900   700  200    46오6206  KNAC281AFNA085694  2022-09-07
2   2022-09-28  김성일   405   315   90    06보2468  5YJ3E1EA0NF302581  2022-09-14
3   2022-09-28  김휘동   450   350  100    07구1281  KMTKB81AFNU008184  2022-08-30
4   2022-09-28  김수희   735   572  163    06어2145  WMW11DJ08P2S91110  2022-08-31
..         ...  ...   ...   ...  ...        ...                ...         ...
62  2022-09-15  박상정  2000  1400  600    92부3451  KMFZSZ7NFNU035501  2022-08-04
63  2022-09-15  권용재  2140  1540  600    84마7318  KMFZCZ7NFNU036574  2022-08-08
64  2022-09-15  김경수  2812  2024  788  서울81배3394  KMFZCZ7NFNU033046  2022-08-09
65  2022-09-15  이현종  2000  1400  600  서울80배2026  KMFZSZ7NFNU036227  2022-08-04
66  2022-09-22  박대성  2000  1400  600    89도2985  KMFZCZ7NFNU038140  2022-08-24

[67 rows x 8 columns]

In [26]:
# 지급일자와 차량등록인 열의 날짜표기를 yyyy-mm-dd에서 yyyy.mm.dd.로 고치기
df['지급일자'] = df['지급일자'].apply(lambda x: x[:4] + '.' + x[5:7] + '.' + x[8:] + '.')
df['차량등록일'] = df['차량등록일'].apply(lambda x: x[:4] + '.' + x[5:7] + '.' + x[8:] + '.')
df

,지급일자,신청자명,총액,국비,시비,차량번호,차대번호,차량등록일
0,2022.09.28.,박상군,1200,900,300,서울31사8655,KNAA381GFPT004800,2022.09.13.
1,2022.09.21.,김양진,900,700,200,46오6206,KNAC281AFNA085694,2022.09.07.
2,2022.09.28.,김성일,405,315,90,06보2468,5YJ3E1EA0NF302581,2022.09.14.
3,2022.09.28.,김휘동,450,350,100,07구1281,KMTKB81AFNU008184,2022.08.30.
4,2022.09.28.,김수희,735,572,163,06어2145,WMW11DJ08P2S91110,2022.08.31.
...,...,...,...,...,...,...,...,...
62,2022.09.15.,박상정,2000,1400,600,92부3451,KMFZSZ7NFNU035501,2022.08.04.
63,2022.09.15.,권용재,2140,1540,600,84마7318,KMFZCZ7NFNU036574,2022.08.08.
64,2022.09.15.,김경수,2812,2024,788,서울81배3394,KMFZCZ7NFNU033046,2022.08.09.
65,2022.09.15.,이현종,2000,1400,600,서울80배2026,KMFZSZ7NFNU036227,2022.08.04.
66,2022.09.22.,박대성,2000,1400,600,89도2985,KMFZCZ7NFNU038140,2022.08.24.

In [27]:
# 특기사항이 화면에 모두 출력될 수 있도록 열의 최대출력 길이 변경
pd.set_option('display.max_colwidth', 200)

# 특기사항 입력
# 예: 서울특별시, 전기차 구매보조금 339만원(국비 264만원, 시비 75만원, 지급일자 2022.5.24.) 서울시 기후변화대응과-24031(2022.06.17.)
df['특기사항'] = "서울특별시, 전기차 구매보조금 " + df['총액'] + "만원 (국비 " + df['국비'] + "만원, 시비 " + df['시비'] + "만원, 지급일자 " + df['지급일자'] + ") " + doc_num
df

,지급일자,신청자명,총액,국비,시비,차량번호,차대번호,차량등록일,특기사항
0,2022.09.28.,박상군,1200,900,300,서울31사8655,KNAA381GFPT004800,2022.09.13.,"서울특별시, 전기차 구매보조금 1200만원 (국비 900만원, 시비 300만원, 지급일자 2022.09.28.) 서울시 친환경차량과-2059(2022.10.11.)"
1,2022.09.21.,김양진,900,700,200,46오6206,KNAC281AFNA085694,2022.09.07.,"서울특별시, 전기차 구매보조금 900만원 (국비 700만원, 시비 200만원, 지급일자 2022.09.21.) 서울시 친환경차량과-2059(2022.10.11.)"
2,2022.09.28.,김성일,405,315,90,06보2468,5YJ3E1EA0NF302581,2022.09.14.,"서울특별시, 전기차 구매보조금 405만원 (국비 315만원, 시비 90만원, 지급일자 2022.09.28.) 서울시 친환경차량과-2059(2022.10.11.)"
3,2022.09.28.,김휘동,450,350,100,07구1281,KMTKB81AFNU008184,2022.08.30.,"서울특별시, 전기차 구매보조금 450만원 (국비 350만원, 시비 100만원, 지급일자 2022.09.28.) 서울시 친환경차량과-2059(2022.10.11.)"
4,2022.09.28.,김수희,735,572,163,06어2145,WMW11DJ08P2S91110,2022.08.31.,"서울특별시, 전기차 구매보조금 735만원 (국비 572만원, 시비 163만원, 지급일자 2022.09.28.) 서울시 친환경차량과-2059(2022.10.11.)"
...,...,...,...,...,...,...,...,...,...
62,2022.09.15.,박상정,2000,1400,600,92부3451,KMFZSZ7NFNU035501,2022.08.04.,"서울특별시, 전기차 구매보조금 2000만원 (국비 1400만원, 시비 600만원, 지급일자 2022.09.15.) 서울시 친환경차량과-2059(2022.10.11.)"
63,2022.09.15.,권용재,2140,1540,600,84마7318,KMFZCZ7NFNU036574,2022.08.08.,"서울특별시, 전기차 구매보조금 2140만원 (국비 1540만원, 시비 600만원, 지급일자 2022.09.15.) 서울시 친환경차량과-2059(2022.10.11.)"
64,2022.09.15.,김경수,2812,2024,788,서울81배3394,KMFZCZ7NFNU033046,2022.08.09.,"서울특별시, 전기차 구매보조금 2812만원 (국비 2024만원, 시비 788만원, 지급일자 2022.09.15.) 서울시 친환경차량과-2059(2022.10.11.)"
65,2022.09.15.,이현종,2000,1400,600,서울80배2026,KMFZSZ7NFNU036227,2022.08.04.,"서울특별시, 전기차 구매보조금 2000만원 (국비 1400만원, 시비 600만원, 지급일자 2022.09.15.) 서울시 친환경차량과-2059(2022.10.11.)"
66,2022.09.22.,박대성,2000,1400,600,89도2985,KMFZCZ7NFNU038140,2022.08.24.,"서울특별시, 전기차 구매보조금 2000만원 (국비 1400만원, 시비 600만원, 지급일자 2022.09.22.) 서울시 친환경차량과-2059(2022.10.11.)"

In [28]:
# pip install XlsxWriter

writer = pd.ExcelWriter(f"{year}_{month}_보조금_preprocessed.xlsx") 
df.to_excel(writer, sheet_name='보조금', index=False)

for column in df:
    column_length = max(df[column].astype(str).map(len).max(), len(column))
    col_idx = df.columns.get_loc(column)
    writer.sheets['보조금'].set_column(col_idx, col_idx, column_length*1.3)    # 한글 때문에 X1.3으로 열너비 늘렸다.

writer.close()    # save: depricated, use close instead

### 전처리로 만들어진 xlsx 파일 ==> 후처리에서 특기사항 입력